<template>
  <v-app>
    <div id="app">
      <v-container>
        <v-container>
          <h1>
            DevOps Test App
            <img
              height="30px"
              src="https://res.cloudinary.com/campusedu/image/upload/v1605047001/campus-logos/CampusLogo.3-1_i6oeos.png"
            />
          </h1>
        </v-container>
        <Messaging />
      </v-container>
    </div>
  </v-app>
</template>

<script>
import Messaging from "./components/Messaging.vue";

export default {
  name: "App",
  title: "DevOps Frontend",
  components: {
    Messaging,
  },
  data: () => ({
    //
  }),
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
